<section class="home-full-body">
  <video loop muted autoplay poster="img/dev-mountain-true-img.png" class="fullscreen-bg__video">
      <source src="../video/13299272.mp4" type="video/mp4">
  </video>
  <div class="main-header-container">
    <div id="test" class="main-hamburger-menu main-header-img">
      <ul >
        <li class="burger-li"></li>
        <li class="burger-li"></li>
        <li class="burger-li"></li>
      </ul>
    </div>
    <img ui-sref="home"  class=" main-logo main-header-img" src="../img/logo-150x41.png" >
  </div>

  <section class="home-section-main">

    <div class="incio-info-box ">
        <h1>¡Bienvenidos los que crean!</h1>
      <div class="incio-inner-box">
        <p>Nos esforzamos día a día por crear productos de calidad 🙂 Conoce nuestras verticales de negocio y canales de comercialización.</p>
        <div class="digitales-options-box">
          <div class="digitales-b-border"><img src="../img/sound-bars.png"> Verticales de Negocios</div>
          <div> <img src="../img/sound-bars.png">Canales de Comercialización</div>
        </div>
        <div class="digitales-catigories-one">
          <div ></div>
          <div ></div>
        </div>
        <div class="digitales-catigories-two">
          <div ></div>
          <div ></div>
        </div>
      </div>
    </div>
    <!-- Hand image section -->
    <div class="info-section-right">
      <img src="../img/hand-mockup.png">
      <div class="phone-picture-slider" style="background-image: url('img/phone-girl-mainScreen-placeholder.png'); background-position: bottom right 30px;">
      </div>
    </div>

  </section>

</section>
