<section class="home-full-body">
  <video loop muted autoplay poster="img/dev-mountain-true-img.png" class="fullscreen-bg__video">
      <source src="../video/13299272.mp4" type="video/mp4">
  </video>
  <div id="test" class="main-header-container">
    <div class="main-hamburger-menu main-header-img">
      <ul>
        <li class="burger-li"></li>
        <li class="burger-li"></li>
        <li class="burger-li"></li>
      </ul>
    </div>
    <img class=" main-logo main-header-img" src="../img/logo-150x41.png" >
  </div>
  <section class="home-section-main">
    <!-- left side nav bar -->
    <div class="scroller-nav">
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <!-- Scroller Section -->
    <div class="info-section-left ">
      <div class="first-scroll">
        <div class="inner-scroll-div">
          <h1>¡Bienvenidos los que crean!</h1>
          <p>En Trimobile diseñamos experiencias multiplataforma. Trabajamos con los mejores operadores móviles brindando diariamente contenido premium a miles de personas en todo Latinoamerica 🙂</p>
          <button> <img src="img/download-icon copy.png">Descubre mas</button>
        </div>

      </div>
    </div>
    <!-- Hand image section -->
    <div class="info-section-right">
      <img src="../img/hand-mockup.png">
      <div class="phone-picture-slider" style="background-image: url('img/phone-girl-mainScreen-placeholder.png'); background-position: bottom right 30px;">
      </div>
    </div>

  </section>
</section>
