@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900');
/*home view*/
.home-section-main{
  background: url('../img/phone-girl-mainScreen-placeholder.png');
  height: 100vh;
  background-size: cover;
}
.info-section-right{
  
}
